body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

#board {
  border: 2px solid black;
  padding: 10px; 
}

h1 {
  font-size: 36px;
  margin: 10px;
  color: black;
} 

button {
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

.square {
  box-sizing: border-box;
  padding: 0;
  border: 1px solid black;
  height: 70px; 
  width: 70px; 
  margin-top: -1px;
  margin-right: -1px;
}


@media (max-width: 600px) {
  .square {
    height: 50px; 
    width: 50px; 
  }
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.red {
  color: rgb(172, 16, 16);
}

.blue {
  color: rgb(2, 2, 188);
}

.piece {
  font-size: 50px; 
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -1px;
  margin: 5px;
}

.queen {
  font-size: 50px;
}


.highlighted {
  color: rgba(240, 255, 255, 0.56);
  font-size: 50px;
  top: -7px;
}
.board-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 400px) {

  body {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .square {
    height: 40px;
    width: 40px;
  }

  .piece {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    position: relative;
  }
  
  .queen {
    font-size: 42px;
  }
  
  .highlighted {
    color: rgba(240, 255, 255, 0.56);
    font-size: 42px;
  }

}

.piece img {
  width: 50px; 
  height: 50px; 
  object-fit: cover;
  border-radius: 50%; 
  display: block;
  margin: auto;
}

h2 {
  margin: 5px;
}